table.table.putus-table {
    border: 1px dashed #0000005e !important;
}

tr.putus {
    border: 1px dashed #0000005e !important;
}

th.putus {
    border: 1px dashed #0000005e !important;
}

td.putus {
    border: 1px dashed #0000005e !important;
}